Repository torchbox/tbxforms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-templates, djlint-snapshots

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.26.0
    hooks:
      - id: eslint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: djlint-templates
        name: Lint project templates
        language: python
        files: tbxforms/.*\.html$
        entry: djlint
      - id: djlint-snapshots
        name: Check snapshot formatting
        language: python
        files: tests/.*\.html$
        entry: djlint --check

Tweak changelog
  CHANGELOG.md
Due: none

Update test matrix
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Make tests pass
  tbxforms/layout/buttons.py
  tbxforms/layout/containers.py
  tbxforms/layout/fields.py
  tests/layout/__snapshots__/test_buttons/test_css_class.html
  tests/layout/__snapshots__/test_buttons/test_disabled_button.html
  tests/layout/__snapshots__/test_buttons/test_extra_attributes.html
  tests/layout/__snapshots__/test_buttons/test_primary_button.html
  tests/layout/__snapshots__/test_buttons/test_secondary_button.html
  tests/layout/__snapshots__/test_buttons/test_warning_button.html
Due: djlint-snapshots

Upgrade Flake8, so that it works on Python 3.12 too
  poetry.lock
  pyproject.toml
Due: none

Remove `|safe` filters
  tbxforms/templates/tbx/field.html
  tbxforms/templates/tbx/layout/baseinput.html
  tbxforms/templates/tbx/layout/button.html
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/div.html
  tbxforms/templates/tbx/layout/fieldset.html
  tbxforms/templates/tbx/layout/help_text.html
  tbxforms/templates/tbx/layout/multifield.html
  tbxforms/templates/tbx/layout/radios.html
  tbxforms/templates/tbx/whole_uni_form.html
  tbxforms/templates/tbx/whole_uni_formset.html
Due: djlint-templates

Use `math.div` over literal `/`
  README.md
  package-lock.json
  package.json
  tbxforms/static/sass/abstracts/_variables.scss
  tbxforms/static/sass/components/_checkboxes.scss
  tbxforms/static/sass/components/_radios.scss
  vite.config.js
Due: none

Add tests for HTML escaping
  tests/forms.py
  tests/test_security.py
Due: none

Bump django-crispy-forms to 2.0 (#61)
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tbxforms/layout/buttons.py
  tbxforms/layout/containers.py
  tbxforms/layout/fields.py
  tbxforms/templates/tbx/field.html
  tbxforms/templates/tbx/layout/baseinput.html
  tbxforms/templates/tbx/layout/button.html
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/div.html
  tbxforms/templates/tbx/layout/fieldset.html
  tbxforms/templates/tbx/layout/help_text.html
  tbxforms/templates/tbx/layout/multifield.html
  tbxforms/templates/tbx/layout/radios.html
  tbxforms/templates/tbx/whole_uni_form.html
  tbxforms/templates/tbx/whole_uni_formset.html
  tests/forms.py
  tests/layout/__snapshots__/test_buttons/test_css_class.html
  tests/layout/__snapshots__/test_buttons/test_disabled_button.html
  tests/layout/__snapshots__/test_buttons/test_extra_attributes.html
  tests/layout/__snapshots__/test_buttons/test_primary_button.html
  tests/layout/__snapshots__/test_buttons/test_secondary_button.html
  tests/layout/__snapshots__/test_buttons/test_warning_button.html
  tests/test_security.py
  tox.ini
Due: djlint-templates, djlint-snapshots

Use `math.div` over literal `/` (#60)
  README.md
  package-lock.json
  package.json
  tbxforms/static/sass/abstracts/_variables.scss
  tbxforms/static/sass/components/_checkboxes.scss
  tbxforms/static/sass/components/_radios.scss
  vite.config.js
Due: none

Update Node, flake8, syrupy, and poetry.
  .github/workflows/test.yml
  .nvmrc
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

Fix erroneous fieldset snapshot tests
  tests/layout/__snapshots__/test_fieldset/test_attribute.html
  tests/layout/__snapshots__/test_fieldset/test_change_legend_size.html
  tests/layout/__snapshots__/test_fieldset/test_css_class.html
  tests/layout/__snapshots__/test_fieldset/test_css_id.html
  tests/layout/__snapshots__/test_fieldset/test_show_legend_as_heading.html
  tests/layout/test_fieldset.py
Due: djlint-snapshots

Remove TBXFORMS_ALLOW_HTML_LABEL, TBXFORMS_ALLOW_HTML_HELP_TEXT, and TBXFORMS_ALLOW_HTML_BUTTON and associated conditional escaping of values.
  README.md
  tbxforms/forms.py
  tbxforms/layout/buttons.py
  tests/forms.py
  tests/layout/__snapshots__/test_buttons/TestButtons.test_button[primary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_button[secondary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_button[warning].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_css_class[primary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_css_class[secondary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_css_class[warning].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_css_id[primary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_css_id[secondary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_css_id[warning].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_disabled_button[primary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_disabled_button[secondary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_disabled_button[warning].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_extra_attributes[primary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_extra_attributes[secondary].html
  tests/layout/__snapshots__/test_buttons/TestButtons.test_extra_attributes[warning].html
  tests/layout/__snapshots__/test_escaping/TestButtonEscaping.test_safe_markup_rendered[primary].html
  tests/layout/__snapshots__/test_escaping/TestButtonEscaping.test_safe_markup_rendered[secondary].html
  tests/layout/__snapshots__/test_escaping/TestButtonEscaping.test_safe_markup_rendered[warning].html
  tests/layout/__snapshots__/test_escaping/TestButtonEscaping.test_unsafe_markup_escaped[primary].html
  tests/layout/__snapshots__/test_escaping/TestButtonEscaping.test_unsafe_markup_escaped[secondary].html
  tests/layout/__snapshots__/test_escaping/TestButtonEscaping.test_unsafe_markup_escaped[warning].html
  tests/layout/test_buttons.py
  tests/layout/test_checkboxes.py
  tests/layout/test_date_input.py
  tests/layout/test_escaping.py
  tests/layout/test_field.py
  tests/layout/test_file_upload.py
  tests/layout/test_radios.py
  tests/layout/test_select.py
  tests/layout/test_text_input.py
  tests/layout/test_textarea.py
  tests/settings.py
  tests/test_security.py
  tox.ini
Due: djlint-snapshots

Release prep
  CHANGELOG.md
  package.json
  pyproject.toml
Due: none

Update release in package-lock.
  CONTRIBUTING.md
  package-lock.json
Due: none

Fix pkg url
  package.json
Due: none

Typo
  CHANGELOG.md
Due: none

Replace gitlab style links
  CHANGELOG.md
Due: none

fix: Fix issue of hints not showing up on django 5.x
  tbxforms/choices.py
Due: none

Fix typo
  CHANGELOG.md
Due: none

Bump several packages to address security vulnerabilities
  .github/workflows/test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

No need to mention pre-commit as it's installed with Poetry
  CONTRIBUTING.md
Due: none

Black
  tbxforms/templatetags/tbxforms.py
  tests/fields/test_date_input_field.py
  tests/helpers/test_form_helper.py
  tests/layout/test_buttons.py
Due: none

Prep for 2.0.1 release
  CHANGELOG.md
  package.json
  pyproject.toml
Due: none

Update lock
  package-lock.json
Due: none

Bump several packages to address security vulnerabilities (#77)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tbxforms/templatetags/tbxforms.py
  tests/fields/test_date_input_field.py
  tests/helpers/test_form_helper.py
  tests/layout/test_buttons.py
Due: none

Avoid duplicating code
  tbxforms/choices.py
Due: none

Tweak help_text to avoid noqa
  tbxforms/choices.py
Due: none

Rejig comment
  tbxforms/choices.py
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Fix issue of hints not showing up on django 5.x (#69)
  CHANGELOG.md
  tbxforms/choices.py
Due: none

Remove LGTM
  README.md
Due: none

Allow devs to highlight required fields instead of highlighting optional fields.
  tbxforms/helper.py
  tbxforms/templates/tbx/field.html
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/multifield.html
  tbxforms/templates/tbx/layout/radios.html
Due: djlint-templates

Add tests
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/layout/__snapshots__/test_checkboxes/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_date_input/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_date_input/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_file_upload/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_file_upload/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_select/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_select/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_text_input/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_text_input/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_textarea/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_textarea/test_required_field_highlighting.html
  tests/layout/test_checkboxes.py
  tests/layout/test_date_input.py
  tests/layout/test_file_upload.py
  tests/layout/test_radios.py
  tests/layout/test_select.py
  tests/layout/test_text_input.py
  tests/layout/test_textarea.py
Due: djlint-snapshots

Fix lock file
  poetry.lock
Due: none

Avoid using pytest-django as it breaks things
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/layout/test_checkboxes.py
  tests/layout/test_date_input.py
  tests/layout/test_file_upload.py
  tests/layout/test_radios.py
  tests/layout/test_select.py
  tests/layout/test_text_input.py
  tests/layout/test_textarea.py
Due: none

Update README
  README.md
Due: none

Use new BLOCK block element as it's not always a label
  tbxforms/templates/tbx/field.html
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/multifield.html
  tbxforms/templates/tbx/layout/radios.html
  tests/layout/__snapshots__/test_checkboxes/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_date_input/test_non_required_field_left_blank_does_not_raise_exception.html
  tests/layout/__snapshots__/test_date_input/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_date_input/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_file_upload/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_file_upload/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_select/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_select/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_text_input/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_text_input/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_textarea/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_textarea/test_required_field_highlighting.html
Due: djlint-templates, djlint-snapshots
