Repository torchbox/tbxforms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-templates, djlint-snapshots

djlint-templates:
  name: Lint project templates
  language: python
  entry: djlint

djlint-snapshots:
  name: Check snapshot formatting
  language: python
  entry: djlint --check

Rename tbx template directory to tbxforms to make overriding templates easier
  README.md
  tbxforms/templates/tbx/display_form.html
  tbxforms/templates/tbx/field.html
  tbxforms/templates/tbx/inputs.html
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/help_text_and_errors.html
  tbxforms/templates/tbx/layout/multifield.html
  tbxforms/templates/tbx/layout/radios.html
  tbxforms/templates/tbx/uni_form.html
  tbxforms/templates/tbx/uni_formset.html
  tbxforms/templates/tbx/whole_uni_form.html
  tbxforms/templates/tbx/whole_uni_formset.html
  tbxforms/templatetags/tbxforms.py
  tbxforms/widgets.py
  tests/layout/test_buttons.py
  tests/layout/test_escaping.py
  tests/settings.py
Due: djlint-templates

Update changelog
  CHANGELOG.md
Due: none

Update snapshots
  tbxforms/templates/tbxforms/display_form.html
  tbxforms/templates/tbxforms/errors.html
  tbxforms/templates/tbxforms/field.html
  tbxforms/templates/tbxforms/inputs.html
  tbxforms/templates/tbxforms/layout/baseinput.html
  tbxforms/templates/tbxforms/layout/button.html
  tbxforms/templates/tbxforms/layout/checkboxes.html
  tbxforms/templates/tbxforms/layout/div.html
  tbxforms/templates/tbxforms/layout/field_errors.html
  tbxforms/templates/tbxforms/layout/fieldset.html
  tbxforms/templates/tbxforms/layout/help_text.html
  tbxforms/templates/tbxforms/layout/help_text_and_errors.html
  tbxforms/templates/tbxforms/layout/multifield.html
  tbxforms/templates/tbxforms/layout/radios.html
  tbxforms/templates/tbxforms/uni_form.html
  tbxforms/templates/tbxforms/uni_formset.html
  tbxforms/templates/tbxforms/whole_uni_form.html
  tbxforms/templates/tbxforms/whole_uni_formset.html
  tbxforms/templates/tbxforms/widgets/date.html
Due: djlint-templates

Rename `tbx` template pack to `tbxforms` (#92)
  CHANGELOG.md
  README.md
  tbxforms/templates/tbx/inputs.html
  tbxforms/templates/tbx/layout/help_text_and_errors.html
  tbxforms/templates/tbxforms/display_form.html
  tbxforms/templates/tbxforms/errors.html
  tbxforms/templates/tbxforms/field.html
  tbxforms/templates/tbxforms/inputs.html
  tbxforms/templates/tbxforms/layout/baseinput.html
  tbxforms/templates/tbxforms/layout/button.html
  tbxforms/templates/tbxforms/layout/checkboxes.html
  tbxforms/templates/tbxforms/layout/div.html
  tbxforms/templates/tbxforms/layout/field_errors.html
  tbxforms/templates/tbxforms/layout/fieldset.html
  tbxforms/templates/tbxforms/layout/help_text.html
  tbxforms/templates/tbxforms/layout/help_text_and_errors.html
  tbxforms/templates/tbxforms/layout/multifield.html
  tbxforms/templates/tbxforms/layout/radios.html
  tbxforms/templates/tbxforms/uni_form.html
  tbxforms/templates/tbxforms/uni_formset.html
  tbxforms/templates/tbxforms/whole_uni_form.html
  tbxforms/templates/tbxforms/whole_uni_formset.html
  tbxforms/templates/tbxforms/widgets/date.html
  tbxforms/templatetags/tbxforms.py
  tbxforms/widgets.py
  tests/layout/test_buttons.py
  tests/layout/test_escaping.py
  tests/settings.py
Due: djlint-templates

Split conditional fields docs to make it clearer that using conditional_fields_to_show_as_required() is not required.
  README.md
Due: none

v4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

Allow disabling error summaries and tweak fieldset styles.
  README.md
  tbxforms/static/sass/govuk/components/fieldset/_index.scss
  tbxforms/static/sass/govuk/objects/_form-group.scss
  tbxforms/templates/tbxforms/display_form.html
  tbxforms/templates/tbxforms/uni_form.html
Due: djlint-templates

Tweak README
  README.md
Due: none

Bump deprecated actions/cache version
  .github/workflows/test.yml
Due: none

Fix and include tests
  tbxforms/helper.py
  tbxforms/templates/tbxforms/display_form.html
  tbxforms/templates/tbxforms/uni_form.html
  tests/helpers/__snapshots__/test_form_helper/test_error_summary_can_be_hidden.html
  tests/helpers/__snapshots__/test_form_helper/test_error_summary_shown_by_default.html
  tests/helpers/test_form_helper.py
Due: djlint-templates, djlint-snapshots

Allow disabling error summaries and tweak fieldset styles. (#93)
  .github/workflows/test.yml
  README.md
  tbxforms/helper.py
  tbxforms/static/sass/govuk/components/fieldset/_index.scss
  tbxforms/static/sass/govuk/objects/_form-group.scss
  tbxforms/templates/tbxforms/display_form.html
  tbxforms/templates/tbxforms/uni_form.html
  tests/helpers/__snapshots__/test_form_helper/test_error_summary_can_be_hidden.html
  tests/helpers/__snapshots__/test_form_helper/test_error_summary_shown_by_default.html
  tests/helpers/test_form_helper.py
Due: djlint-templates, djlint-snapshots

v4.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

Also update CrispyGDSFieldNode
  tbxforms/layout/base.py
  tbxforms/layout/containers.py
  tbxforms/layout/fields.py
  tbxforms/templatetags/tbxforms.py
Due: none

Remove attrs from widget and correctly use flat_attrs on the checkbox/radios/multifield fieldsets. Fix tests to not use selects.
  tbxforms/layout/fields.py
  tbxforms/templates/tbxforms/layout/checkboxes.html
  tbxforms/templates/tbxforms/layout/multifield.html
  tbxforms/templates/tbxforms/layout/radios.html
  tbxforms/templatetags/tbxforms.py
  tests/layout/__snapshots__/test_conditional_attrs/TestConditionalFieldsToShowAsRequiredMethod.test_field_can_be_shown_as_required[checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestConditionalFieldsToShowAsRequiredMethod.test_field_can_be_shown_as_required[radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkbox-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkbox-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkboxes-checkbox].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkboxes-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkboxes-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkboxes-select].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkboxes-text].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[checkboxes-textarea].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-checkbox].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-select].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-text].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-textarea].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[select-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[select-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[text-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[text-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[textarea-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[textarea-radios].html
  tests/layout/test_conditional_attrs.py
Due: djlint-templates, djlint-snapshots

Simplify
  tbxforms/layout/fields.py
Due: none

v4.2.0
  CHANGELOG.md
  CONTRIBUTING.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

Typo
  CHANGELOG.md
Due: none

Allow per-form override of settings.TBXFORMS_HIGHLIGHT_REQUIRED_FIELDS
  README.md
  tbxforms/helper.py
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting_disabled_per_form.html
  tests/layout/test_checkboxes.py
Due: djlint-snapshots

Add extra test
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting_enabled_per_form.html
  tests/layout/test_checkboxes.py
Due: djlint-snapshots

pre-commit
  README.md
Due: none

Allow per-form override of settings.TBXFORMS_HIGHLIGHT_REQUIRED_FIELDS (#97)
  README.md
  tbxforms/helper.py
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting_disabled_per_form.html
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting_enabled_per_form.html
  tests/layout/test_checkboxes.py
Due: djlint-snapshots

v4.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

Address an issue where radios are not rendered with a required attribute when specified to be required
  tbxforms/templates/tbxforms/layout/radios.html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-checkbox].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-select].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-text].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-textarea].html
  tests/layout/__snapshots__/test_radios/test_change_legend_size.html
  tests/layout/__snapshots__/test_radios/test_choices.html
  tests/layout/__snapshots__/test_radios/test_initial_attributes.html
  tests/layout/__snapshots__/test_radios/test_inline.html
  tests/layout/__snapshots__/test_radios/test_no_help_text.html
  tests/layout/__snapshots__/test_radios/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_radios/test_no_legend.html
  tests/layout/__snapshots__/test_radios/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_show_legend_as_heading.html
  tests/layout/__snapshots__/test_radios/test_small.html
  tests/layout/__snapshots__/test_radios/test_validation_error_attributes.html
  tests/layout/test_radios.py
Due: djlint-templates, djlint-snapshots

Fix radios not including 'required' attribute when set as required (#98)
  tbxforms/templates/tbxforms/layout/radios.html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-checkbox].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-checkboxes].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-radios].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-select].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-text].html
  tests/layout/__snapshots__/test_conditional_attrs/TestFieldConditionals.test_rendering[radios-textarea].html
  tests/layout/__snapshots__/test_radios/test_change_legend_size.html
  tests/layout/__snapshots__/test_radios/test_choices.html
  tests/layout/__snapshots__/test_radios/test_initial_attributes.html
  tests/layout/__snapshots__/test_radios/test_inline.html
  tests/layout/__snapshots__/test_radios/test_no_help_text.html
  tests/layout/__snapshots__/test_radios/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_radios/test_no_legend.html
  tests/layout/__snapshots__/test_radios/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_show_legend_as_heading.html
  tests/layout/__snapshots__/test_radios/test_small.html
  tests/layout/__snapshots__/test_radios/test_validation_error_attributes.html
  tests/layout/test_radios.py
Due: djlint-templates, djlint-snapshots

v4.3.1
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

Bring in tox testing for the range of Django version currently supported
  .github/workflows/test.yml
  AGENTS.md
  README.md
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Format AGENTS.md
  AGENTS.md
Due: none

Update flake8 for Python 3.14
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix flake8 ignore config for flake8 7
  setup.cfg
Due: none

Fix tox dependency isolation
  tbxforms/templatetags/tbxforms.py
  tox.ini
Due: none

Relax date validation error message test
  tests/fields/test_date_input_field.py
Due: none

Update Node tooling
  .eslintrc.js
  .nvmrc
  AGENTS.md
  CHANGELOG.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
Due: none

use max 5.3 rather than 6.0
  tox.ini
Due: none

use max 4.3 rather than 5.0
  tox.ini
Due: none

use max 2.7 rather than 3.0
  tox.ini
Due: none

use max 2.7
  tox.ini
Due: none

tighten max Django version
  tox.ini
Due: none

Path conditions:
  djlint-templates: any of: tbxforms/.*\.html$
  djlint-snapshots: any of: tests/.*\.html$
