Repository torchbox/tbxforms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-templates, djlint-snapshots

djlint-templates:
  name: Lint project templates
  language: python
  entry: djlint

djlint-snapshots:
  name: Check snapshot formatting
  language: python
  entry: djlint --check

Use `render_crispy_form` to render forms in tests
  tests/utils.py
Due: none

upgrade poetry and give django crispy forms upper bound of v2.0
  .github/workflows/test.yml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

setup tox to run locally
  tox.ini
Due: none

use tox in pipeline
  .github/workflows/test.yml
Due: none

update black
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

add python matrix to ci
  .github/workflows/test.yml
  tox.ini
Due: none

update action
  .github/workflows/test.yml
Due: none

run prettier
  .github/workflows/test.yml
  .gitignore
Due: none

add python 3.11 to matrix
  .github/workflows/test.yml
  pyproject.toml
  tox.ini
Due: none

add python 3.11 to github actions
  tox.ini
Due: none

add cache with minor python version name
  .github/workflows/test.yml
Due: none

change whitelist to allowlist tox
  tox.ini
Due: none

code review changes
  .github/workflows/test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  pyproject.toml
Due: none

update poetry version
  poetry.lock
  pyproject.toml
Due: none

remove poetry as a dependency in pyproject
  poetry.lock
  pyproject.toml
Due: none

Use our BaseForm class within tests
  CHANGELOG.md
  README.md
  pyproject.toml
  tests/forms.py
  tests/helpers/test_form_helper.py
  tests/layout/test_checkbox.py
  tests/layout/test_checkboxes.py
  tests/layout/test_fieldset.py
  tests/layout/test_file_upload.py
  tests/layout/test_radios.py
  tests/layout/test_select.py
  tests/layout/test_text_input.py
  tests/layout/test_textarea.py
Due: none

Change FormHelper from a static property to within the init method
  CHANGELOG.md
  README.md
  tbxforms/forms.py
  tests/forms.py
  tests/helpers/__snapshots__/test_form_helper/test_override_default_label_size.html
  tests/helpers/__snapshots__/test_form_helper/test_override_default_legend_size.html
  tests/layout/__snapshots__/test_checkbox/test_checkbox_size.html
  tests/layout/__snapshots__/test_checkboxes/test_change_legend_size.html
  tests/layout/__snapshots__/test_checkboxes/test_checkbox_size.html
  tests/layout/__snapshots__/test_checkboxes/test_show_legend_as_heading.html
  tests/layout/__snapshots__/test_fieldset/test_attribute.html
  tests/layout/__snapshots__/test_fieldset/test_change_legend_size.html
  tests/layout/__snapshots__/test_fieldset/test_show_legend_as_heading.html
  tests/layout/__snapshots__/test_file_upload/test_change_label_size.html
  tests/layout/__snapshots__/test_file_upload/test_show_label_as_heading.html
  tests/layout/__snapshots__/test_radios/test_change_legend_size.html
  tests/layout/__snapshots__/test_radios/test_inline.html
  tests/layout/__snapshots__/test_radios/test_show_legend_as_heading.html
  tests/layout/__snapshots__/test_radios/test_small.html
  tests/layout/__snapshots__/test_select/test_change_label_size.html
  tests/layout/__snapshots__/test_select/test_show_label_as_heading.html
  tests/layout/__snapshots__/test_text_input/test_change_label_size.html
  tests/layout/__snapshots__/test_text_input/test_show_label_as_heading.html
  tests/layout/__snapshots__/test_textarea/test_change_label_size.html
  tests/layout/__snapshots__/test_textarea/test_character_count.html
  tests/layout/__snapshots__/test_textarea/test_show_label_as_heading.html
  tests/layout/__snapshots__/test_textarea/test_threshold.html
  tests/layout/test_checkboxes.py
  tests/layout/test_fieldset.py
  tests/layout/test_radios.py
  tests/layout/test_textarea.py
Due: djlint-snapshots

Fixes
  CHANGELOG.md
  README.md
  tbxforms/layout/fields.py
  tests/forms.py
  tests/layout/__snapshots__/test_fieldset/test_attribute.html
  tests/layout/__snapshots__/test_fieldset/test_change_legend_size.html
  tests/layout/__snapshots__/test_fieldset/test_show_legend_as_heading.html
  tests/layout/__snapshots__/test_file_upload/test_change_label_size.html
  tests/layout/__snapshots__/test_textarea/test_character_count.html
  tests/layout/__snapshots__/test_textarea/test_threshold.html
  tests/layout/test_checkbox.py
  tests/layout/test_checkboxes.py
  tests/layout/test_fieldset.py
  tests/layout/test_file_upload.py
  tests/layout/test_radios.py
  tests/layout/test_select.py
  tests/layout/test_text_input.py
  tests/layout/test_textarea.py
Due: djlint-snapshots

Use different default SIZE to make changes more obvious
  tests/helpers/__snapshots__/test_form_helper/test_default_label_size.html
  tests/helpers/__snapshots__/test_form_helper/test_default_legend_size.html
  tests/helpers/test_form_helper.py
Due: djlint-snapshots

Include divider between checkboxes
  tbxforms/templates/tbx/layout/checkboxes.html
Due: djlint-templates

Raise ValidationError is date is invalid
  tbxforms/fields.py
Due: none

Test invalid dates
  tests/fields/test_date_input_field.py
Due: none

Test checkbox divider
  tests/forms.py
Due: none

Fix failing test
  tests/fields/test_date_input_field.py
Due: none

Rebase and use automatic snapshot. Fix test to check invalid date input.
  CHANGELOG.md
  tests/fields/test_date_input_field.py
  tests/layout/__snapshots__/test_checkboxes/test_choices.html
Due: djlint-snapshots

Bump version
  package.json
Due: none

Initial prep for 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

Rename BaseForm to TbxFormsMixin for clarity
  CHANGELOG.md
  README.md
  tbxforms/forms.py
  tests/forms.py
Due: none

Fix bug when a DateInputField with required=False is left blank.
  CHANGELOG.md
  tbxforms/fields.py
  tests/layout/__snapshots__/test_date_input/test_non_required_field_left_blank_does_not_raise_exception.html
  tests/layout/test_date_input.py
Due: djlint-snapshots

Update snapshot
  tests/layout/__snapshots__/test_date_input/test_subfield_error_attributes.html
Due: djlint-snapshots

Tweak readme
  README.md
Due: none

Update comment
  tbxforms/forms.py
Due: none

Update Field references in README
  README.md
Due: none

Update README to fix issue #25
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

Update CHANGELOG to match release notes
  CHANGELOG.md
Due: none

Path conditions:
  djlint-templates: any of: tbxforms/.*\.html$
  djlint-snapshots: any of: tests/.*\.html$
