Repository torchbox/tbxforms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-templates, djlint-snapshots

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.26.0
    hooks:
      - id: eslint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: djlint-templates
        name: Lint project templates
        language: python
        files: tbxforms/.*\.html$
        entry: djlint
      - id: djlint-snapshots
        name: Check snapshot formatting
        language: python
        files: tests/.*\.html$
        entry: djlint --check

Update changelog
  CHANGELOG.md
Due: none

Typo
  CHANGELOG.md
Due: none

Update README with reference to new classes
  README.md
Due: none

Allow required fields to be highlighted instead of optional fields (#78)
  CHANGELOG.md
  README.md
  tbxforms/helper.py
  tbxforms/templates/tbx/field.html
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/multifield.html
  tbxforms/templates/tbx/layout/radios.html
  tests/layout/__snapshots__/test_checkboxes/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_checkboxes/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_date_input/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_date_input/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_file_upload/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_file_upload/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_radios/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_select/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_select/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_text_input/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_text_input/test_required_field_highlighting.html
  tests/layout/__snapshots__/test_textarea/test_optional_field_highlighting.html
  tests/layout/__snapshots__/test_textarea/test_required_field_highlighting.html
  tests/layout/test_checkboxes.py
  tests/layout/test_date_input.py
  tests/layout/test_file_upload.py
  tests/layout/test_radios.py
  tests/layout/test_select.py
  tests/layout/test_text_input.py
  tests/layout/test_textarea.py
Due: djlint-templates, djlint-snapshots

Fix tests
  tests/layout/__snapshots__/test_errors/test_custom_form_error_title.html
  tests/layout/__snapshots__/test_errors/test_default_form_error_title.html
  tests/layout/__snapshots__/test_errors/test_markup_allowed_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_markup_allowed_in_non_field_error.html
  tests/layout/__snapshots__/test_errors/test_no_error.html
  tests/layout/test_errors.py
Due: djlint-snapshots

Allow markup in field and non-field error messages
  tbxforms/templates/tbx/errors.html
Due: djlint-templates

Add additional test to check unsafe markup is not made safe
  tests/layout/test_errors.py
Due: none

Also check default heading is gone
  tests/layout/test_errors.py
Due: none

Add tests
  tests/layout/__snapshots__/test_errors/TestFormErrors.test_custom_error_title.html
  tests/layout/__snapshots__/test_errors/TestFormErrors.test_default_error_title.html
  tests/layout/__snapshots__/test_errors/TestFormErrors.test_markup_allowed_in_field_error.html
  tests/layout/__snapshots__/test_errors/TestFormErrors.test_markup_allowed_in_non_field_error.html
  tests/layout/__snapshots__/test_errors/TestFormErrors.test_no_error.html
  tests/layout/test_errors.py
Due: djlint-snapshots

Regenerate snapshots
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_non_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_non_field_error.html
  tests/layout/test_errors.py
Due: djlint-snapshots

Succinctness
  tests/layout/test_errors.py
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Allow markup in field and non-field error messages (#79)
  CHANGELOG.md
  tbxforms/templates/tbx/errors.html
  tests/layout/__snapshots__/test_errors/test_custom_form_error_title.html
  tests/layout/__snapshots__/test_errors/test_default_form_error_title.html
  tests/layout/__snapshots__/test_errors/test_no_error.html
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_non_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_non_field_error.html
  tests/layout/test_errors.py
Due: djlint-templates, djlint-snapshots

Updates for 2.1.0 release
  CHANGELOG.md
  package.json
  pyproject.toml
Due: none

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Temporarily remove Josh as codeowner as he's super busy
  .github/CODEOWNERS
Due: none

Re-add styles for conditionally-required fields
  tbxforms/static/sass/_conditional.scss
  tbxforms/static/sass/tbxforms.scss
Due: none

Correct dependencies in README and clarify gov.uk frontend info
  README.md
Due: none

Tweak contrib docs
  CONTRIBUTING.md
Due: none

Add class to error li's.
  tbxforms/templates/tbx/errors.html
  tests/layout/__snapshots__/test_checkbox/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_checkbox/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_checkboxes/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_checkboxes/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_date_input/test_field_error_attributes.html
  tests/layout/__snapshots__/test_date_input/test_subfield_error_attributes.html
  tests/layout/__snapshots__/test_errors/test_custom_form_error_title.html
  tests/layout/__snapshots__/test_errors/test_default_form_error_title.html
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_non_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_non_field_error.html
  tests/layout/__snapshots__/test_file_upload/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_file_upload/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_radios/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_radios/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_select/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_select/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_text_input/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_text_input/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_textarea/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_textarea/test_validation_error_attributes.html
Due: djlint-templates, djlint-snapshots

Typo
  tbxforms/templates/tbx/layout/radios.html
Due: djlint-templates

Update field errors to match latest GDS
  tbxforms/templates/tbx/layout/field_errors.html
  tbxforms/templates/tbx/layout/help_text_and_errors.html
Due: djlint-templates

Updates for 3.0.0 release
  CHANGELOG.md
  package.json
  pyproject.toml
Due: none

Remove font declaration entirely.
  tbxforms/static/sass/govuk-overrides/_settings.scss
Due: none

Fix dividers for checkboxes and radios and port updates from crispy-forms-gds
  tbxforms/templates/tbx/layout/checkboxes.html
  tbxforms/templates/tbx/layout/radios.html
Due: djlint-templates

Update snapshots
  tests/layout/__snapshots__/test_checkbox/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_checkbox/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_checkboxes/test_choices.html
  tests/layout/__snapshots__/test_checkboxes/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_checkboxes/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_date_input/test_field_error_attributes.html
  tests/layout/__snapshots__/test_date_input/test_subfield_error_attributes.html
  tests/layout/__snapshots__/test_errors/test_safe_markup_in_field_error.html
  tests/layout/__snapshots__/test_errors/test_unsafe_markup_in_field_error.html
  tests/layout/__snapshots__/test_file_upload/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_file_upload/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_radios/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_radios/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_select/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_select/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_text_input/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_text_input/test_validation_error_attributes.html
  tests/layout/__snapshots__/test_textarea/test_no_help_text_errors.html
  tests/layout/__snapshots__/test_textarea/test_validation_error_attributes.html
Due: djlint-snapshots

Remove font overrides (this should be done within projects if desired). Fix how non-field errors display in the summary. Update CHANGELOG with more helpful info.
  CHANGELOG.md
  tbxforms/static/sass/govuk-overrides/_mixins.scss
  tbxforms/static/sass/govuk-overrides/_settings.scss
  tbxforms/static/sass/govuk-overrides/components/_error-summary.scss
  tbxforms/static/sass/govuk-overrides/components/_index.scss
  tbxforms/static/sass/tbxforms.scss
Due: none

Add comment
  tbxforms/static/sass/govuk-overrides/_settings.scss
Due: none

Reuse tbxforms-border-colour instead of hard-coding mid-grey.
  CHANGELOG.md
  tbxforms/static/sass/_conditional.scss
Due: none

Add link to govuk-frontend
  CONTRIBUTING.md
Due: none

Update lock file and author
  package-lock.json
  package.json
Due: none

Fix README and prevent prettier from breaking it again
  README.md
Due: none

Check the entire state of a field rather than looping through each option (radio/checkbox) and immediately actioning.
  CHANGELOG.md
  tbxforms/static/js/tbxforms.js
Due: none

Add note about IE11 support
  CHANGELOG.md
Due: none

Fix conditional fields (#91)
  CHANGELOG.md
  tbxforms/static/js/tbxforms.js
Due: none

Check the entire state of a field rather than looping through each option (radio/checkbox) and immediately actioning.
  CHANGELOG.md
Due: none
